<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Pablo De La Cruz - Database Administrator</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/img/favicon.ico') }}" />
    <script src="{{ url_for('static', filename='js/fa_660_all.js') }}" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Extra+Condensed:500,700" rel="stylesheet"
        type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
</head>

<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <span class="d-block d-lg-none">Pablo De La Cruz</span>
            <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2"
                    src="{{ url_for('static', filename='assets/img/profile.jpg') }}" alt="..." /></span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#experience">Experience</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education">Education</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">Skills</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact">Contact</a></li>
            </ul>
        </div>
    </nav>
    <!-- Page Content-->
    <div class="container-fluid p-0">
        <!-- About-->
        <section class="resume-section" id="about">
            <div class="resume-section-content">
                <h1 class="mb-0">Pablo <span class="text-primary">De La Cruz</span>
                </h1>
                <div class="subheading mb-5">
                    Kitchener, ON ·
                    <a href="mailto:delacruzspablo@gmail.com">delacruzspablo@gmail.com</a>
                </div>
                <p class="lead mb-5">Experienced Database Administrator with over 10 years in the technology sector and
                    8+ years
                    dedicated to the
                    administration and implementation of Oracle, MS SQL, and MySQL databases. Proficient in optimizing
                    database
                    performance,
                    ensuring data integrity, and providing technical support. Adept at collaborating with development
                    teams and
                    automating
                    routine tasks to improve operational efficiency.</p>
                <div class="social-icons">
                    <a class="social-icon" href="https://www.linkedin.com/in/pablodlcs/"><i
                            class="fab fa-linkedin-in"></i></a>
                    <a class="social-icon" href="https://github.com/pablodelacruz"><i class="fab fa-github"></i></a>
                    <a class="social-icon" href="https://x.com/PablodlCruzs"><i class="fab fa-square-x-twitter"></i></a>
                    <a class="social-icon" href="https://www.instagram.com/pablodlcruzs/"><i
                            class="fab fa-instagram"></i></a>
                </div>
            </div>
        </section>
        <hr class="m-0" />
        <!-- Experience-->
        <section class="resume-section" id="experience">
            <div class="resume-section-content">
                <h2 class="mb-5">Experience</h2>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">Database Administration Division Manager</h3>
                        <div class="subheading mb-3">Social Security Treasury (TSS) of the Dominican Republic</div>
                        <ul>
                            <li><strong>Optimized Performance:</strong> Reduced pre-production refresh time from 18
                                hours to 5 minutes,
                                enhancing operational efficiency.</li>
                            <li><strong>Innovative Solutions:</strong> Developed a self-service deployment system for
                                certification and testing
                                environments, streamlining processes.</li>
                            <li><strong>Technical Leadership:</strong> Installed, configured, and upgraded Oracle and MS
                                SQL Server databases,
                                ensuring optimal performance.</li>
                            <li><strong>Performance Tuning:</strong> Monitored and optimized database performance,
                                fine-tuning SQL queries, and
                                implementing health checks.</li>
                            <li><strong>Collaboration:</strong> Worked with development teams to design and optimize
                                database schemas and SQL
                                queries, improving application performance.</li>
                            <li><strong>Stakeholder Support:</strong> Provided technical support and guidance to
                                developers, system
                                administrators, and end-users, facilitating smooth operations.</li>
                            <li><strong>Database Management:</strong> Administered and maintained 11g, 12c, and 19c
                                instances, handling
                                upgrades, code migrations, and regular maintenance.</li>
                            <li><strong>Automation:</strong> Automated routine tasks using Jobs and scripts across
                                Windows, Solaris, and Linux
                                platforms, improving efficiency.</li>
                        </ul>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">April 2018 – Present</span></div>
                </div>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">Workstation Manager</h3>
                        <div class="subheading mb-3">GBH</div>
                        <ul>
                            <li>Monitored over 350 customer workstations for optimal performance and security.</li>
                            <li>Managed and configured MSP Remote Management for various corporate clients.</li>
                            <li>Administered different Windows server environments, implementing both cloud and
                                on-premises backup solutions.
                            </li>
                            <li>Managed enterprise antivirus and endpoint solutions to ensure security.</li>
                        </ul>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">May 2017 – March 2018</span></div>
                </div>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">Technical Support Supervisor</h3>
                        <div class="subheading mb-3">DAT Software Consultants</div>
                        <ul>
                            <li>Maintained infrastructure in Windows 2012 environments.</li>
                            <li>Installed, created, and administered Oracle 10g and 11g databases.</li>
                            <li>Configured development environments and automated tasks with scripts.</li>
                            <li>Administered company domains and provided technical assistance to customers.</li>
                            <li>Managed HR and payroll systems for over 1200 employees.</li>
                            <li>Implemented systems for tourism and transportation logistics.</li>
                        </ul>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">July 2014 – April 2017</span></div>
                </div>
            </div>
        </section>
        <hr class="m-0" />
        <!-- Education-->
        <section class="resume-section" id="education">
            <div class="resume-section-content">
                <h2 class="mb-5">Education</h2>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">Universidad Acción Pro-Educación y Cultura (UNAPEC)</h3>
                        <div class="subheading mb-3">Bachelor’s Degree</div>
                        <div>Computer Systems Engineering</div>
                        <p>I completed a rigorous 12-semester program in Computer Systems Engineering at UNAPEC,
                            comprising 75 subjects and
                            totaling 208 credits. The curriculum covered essential topics such as programming
                            (Structured, Object-Oriented,
                            Visual), systems design, database management (Fundamentals, Distributed, Administration),
                            and network
                            administration. Additionally, I gained expertise in operating systems, including Unix/Linux
                            and Windows Server,
                            along
                            with specialized courses in artificial intelligence, security, and ethical hacking.</p>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">April 2022</span></div>
                </div>
                <div class="d-flex flex-column flex-md-row justify-content-between">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">Instituto Tecnol&oacute;gico de las Am&eacute;ricas (ITLA)</h3>
                        <div class="subheading mb-3">Associate Degree</div>
                        <div>Information Network Technologist</div>
                        <p>The Information Networks Technologist program at ITLA provides the student with foundational
                            courses such as
                            Computer Fundamentals, Operating Systems, and Pre-Calculus, progressing to advanced topics
                            like Network
                            Installation, Wireless Networks, and Advanced Routing. Core programming skills were
                            developed through courses in

                            Algorithm Development and Fundamentals of Programming. The program also emphasized practical
                            skills with hands-
                            on labs in Network Fundamentals, Routing, and Electronics. Additional coursework covered
                            areas such as Database

                            Introduction, Security Fundamentals, and Project Management.</p>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">September 2014</span></div>
                </div>
            </div>
        </section>
        <hr class="m-0" />
        <!-- Skills-->
        <section class="resume-section" id="skills">
            <div class="resume-section-content">
                <h2 class="mb-5">Skills</h2>
                <!--                <div style="display: flex; flex-wrap: wrap;">
                    <div style="width: 20%;">
                        <strong>Database Management:</strong>
                        <ul style="list-style-type: none; padding: 0;">
                            <li><i class="fas fa-database"></i> Oracle Database</li>
                            <li><i class="fas fa-database"></i> MS SQL Server</li>
                            <li><i class="fas fa-database"></i> MySQL</li>
                            <li><i class="fas fa-database"></i> MariaDB</li>
                            <li><i class="fas fa-database"></i> MongoDB</li>
                            <li><i class="fas fa-database"></i> PostgreSQL</li>
                            <li><i class="fas fa-shield-alt"></i> RMAN</li>
                        </ul>
                    </div>
                    <div style="width: 20%;">
                        <strong>Programming:</strong>
                        <ul style="list-style-type: none; padding: 0;">
                            <li><i class="fab fa-python"></i> Python</li>
                            <li><i class="fas fa-terminal"></i> Shell scripting</li>
                            <li><i class="fas fa-code"></i> SQL/PLSQL</li>
                        </ul>
                    </div>
                    <div style="width: 20%;">
                        <strong>Operating Systems:</strong>
                        <ul style="list-style-type: none; padding: 0;">
                            <li><i class="fab fa-linux"></i> Unix/Linux (Solaris, Linux)</li>
                            <li><i class="fab fa-windows"></i> Windows Server</li>
                        </ul>
                    </div>
                    <div style="width: 20%;">
                        <strong>Cloud Services:</strong>
                        <ul style="list-style-type: none; padding: 0;">
                            <li><i class="fab fa-google"></i> Google Cloud</li>
                            <li><i class="fas fa-cloud"></i> Oracle Cloud Infrastructure</li>
                            <li><i class="fab fa-microsoft"></i> Azure (Basics)</li>
                        </ul>
                    </div>
                    <div style="width: 20%;">
                        <strong>Other Skills:</strong>
                        <ul style="list-style-type: none; padding: 0;">
                            <li><i class="fas fa-file-alt"></i> Technical Documentation</li>
                            <li><i class="fas fa-lightbulb"></i> Problem Solving</li>
                            <li><i class="fas fa-exclamation-triangle"></i> Disaster Recovery</li>
                            <li><i class="fas fa-lock"></i> Security</li>
                            <li><i class="fas fa-network-wired"></i> Technology Infrastructure</li>
                            <li><i class="fas fa-tasks"></i> Requirements Analysis</li>
                        </ul>
                    </div>
                </div>-->

                <div class="container my-5">
                    <div class="row">
                        <!-- Database Management Card -->
                        <div class="col-md-4 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title"><i class="card-icon bi bi-database"></i> Database Management
                                    </h5>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Oracle Database</li>
                                        <li class="list-group-item">MS SQL Server</li>
                                        <li class="list-group-item">MySQL</li>
                                        <li class="list-group-item">MariaDB</li>
                                        <li class="list-group-item">MongoDB</li>
                                        <li class="list-group-item">PostgreSQL</li>
                                        <li class="list-group-item">RMAN</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- Programming Card -->
                        <div class="col-md-4 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title"><i class="card-icon bi bi-code-slash"></i> Programming</h5>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Python</li>
                                        <li class="list-group-item">Shell scripting</li>
                                        <li class="list-group-item">SQL/PLSQL</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- Operating Systems Card -->
                        <div class="col-md-4 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title"><i class="card-icon bi bi-laptop"></i> Operating Systems</h5>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Unix/Linux (Solaris, Linux)</li>
                                        <li class="list-group-item">Windows Server</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- Cloud Services Card -->
                        <div class="col-md-4 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title"><i class="card-icon bi bi-cloud"></i> Cloud Services</h5>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Google Cloud</li>
                                        <li class="list-group-item">Oracle Cloud Infrastructure</li>
                                        <li class="list-group-item">Azure (Basics)</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- Other Skills Card -->
                        <div class="col-md-4 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title"><i class="card-icon bi bi-lightbulb"></i> Other Skills</h5>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Technical Documentation</li>
                                        <li class="list-group-item">Problem Solving</li>
                                        <li class="list-group-item">Disaster Recovery</li>
                                        <li class="list-group-item">Security</li>
                                        <li class="list-group-item">Technology Infrastructure</li>
                                        <li class="list-group-item">Requirements Analysis</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <hr class="m-0" />
        <!-- contact-->
        <section class="resume-section" id="contact">
            <div class="resume-section-content">
                <h2 class="mb-5">Contact</h2>
                <p>I&#39;m passionate and enthusiastic about technology and self-hosted projects. If you need help with
                    your
                    database and
                    system needs, whether you have a question, a project, or just want to connect, please don&#39;t
                    hesitate to reach
                    out. I&#39;ll respond as soon as possible!</p>
                <!-- Contact Form -->
                <form id="contactForm" method="POST" onsubmit="return validateForm()">
                    <div class="row gy-4 gy-xl-5 p-4 p-xl-5">
                        <div class="col-12">
                            <label for="name" class="form-label">Full Name <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="name" name="name" required>
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="email" class="form-label">Email <span class="text-danger">*</span></label>
                            <div class="input-group">
                                <span class="input-group-text">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-envelope" viewBox="0 0 16 16">
                                        <path
                                            d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
                                    </svg>
                                </span>
                                <input type="email" class="form-control" id="email" name="email" required>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="phone" class="form-label">Phone Number</label>
                            <div class="input-group">
                                <span class="input-group-text">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-telephone" viewBox="0 0 16 16">
                                        <path
                                            d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                                    </svg>
                                </span>
                                <input type="tel" class="form-control" id="phone" name="phone">
                            </div>
                        </div>
                        <div class="col-12">
                            <label for="message" class="form-label">Message <span class="text-danger">*</span></label>
                            <textarea class="form-control" id="message" name="message" rows="3" required></textarea>
                        </div>
                        <!-- Place for the reCAPTCHA widget, if needed -->
                        <div class="col-12">
                            <div class="d-grid">
                                <button class="btn btn-primary btn-lg" type="submit">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>

                <!-- Success Modal -->
                <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="successModalLabel">Message Sent</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Your message has been sent successfully. We will get back to you soon!
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <hr class="m-0" />
    </div>
    <!-- Bootstrap core JS-->
    <script src="{{ url_for('static', filename='/js/bootstrap.bundle.min.js') }}"></script>
    <!-- Core theme JS-->
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>

</html>